.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
}

.featureCard {
  padding: 1.5rem;
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 8px;
  height: 100%;
}

.featureCard h3 {
  margin-bottom: 0.5rem;
}

.featureCard p {
  color: var(--ifm-color-emphasis-700);
}
